* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(226, 220, 220);
}

.container {
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
}

.header {
    position: relative;
    display: flex;
    width: 100%;
    height: 30px;
    background-color: black;
}



.header h1 {
width: 160px;
height: 16px;
color: #ffffff;
font-family: "Arial MT";
font-size: 11px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: -0.06px;
line-height: normal;
margin: 0px 0 0px 117px;
background-color: transparent;
padding-top: 9px;
}

#logo {
    background-color: white;
    width: 120px;
    height: 28px;
    margin: 42px 0 36px 114px;
}

.bar {
    position: absolute;
    display: flex;
    right: 115px;
}
.changeCurrency{
    display: flex;
    width: 70px;
    height: 30px;
    background-color: black;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.changeCurrency:hover {
    cursor: pointer;
    opacity: 0.8;
}

.changeCurrency p {
    /* Style for "$ US" */
width: 40px;
height: 9px;
color: #ffffff;
font-family: "Arial MT";
font-size: 11px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;
/* Text style for "$ US" */
font-style: normal;
letter-spacing: -0.06px;
line-height: normal;
background-color: transparent;
padding-top: 9px;
padding-left: 15px;
}

.fa-sort-down {
    font-size: 8px;
    color: #c1c1c1;
    background-color: transparent;
    margin-top: 9px;
    margin-left: 5px;
}

.account {
    display: flex;
    width: 125px;
    height: 30px;
    background-color: black;
    border-right: 1px solid gray;
}

.account:hover {
    cursor: pointer;
    opacity: 0.8;
}

.account p {
    /* Style for "my account" */
width: 73px;
height: 8px;
color: #ffffff;
font-family: "Arial MT";
font-size: 11px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;
/* Text style for "my account" */
font-style: normal;
letter-spacing: -0.06px;
line-height: normal;
background-color: transparent;
margin-top: 9px;
margin-left: 9px;
}

.fa-user {
    font-size: 13px;
    color: #c1c1c1;
    background-color: transparent;
    margin-top: 8px;
    margin-left: 15px;
}

.search {
    width: 34px;
    height: 30px;
    background-color: black;
    border-right: 1px solid gray;
}

.search:hover {
    cursor: pointer;
    opacity: 0.8;
}

.fa-search {
    background-color: transparent;
    color: #c1c1c1;
    margin: 7.5px;
}

/* -----------------------header_end------------------- */

.top {
    background-color: white;
    display: flex;
}

.text_1 {
    /* Style for "new" */
height: 15px;
color: #000000;
font-family: "Arial MT";
font-size: 16px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
/* Text style for "new" */
font-style: normal;
letter-spacing: -0.08px;
line-height: normal;
background-color: transparent;
margin: auto 0;
transition: all 0.2s linear;
}

.toper {
    color: black;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 2px;
}

.one_bar {
    display: flex;
    background-color: transparent;
    padding-left: 180px;
    padding-right: 20px;
    cursor: pointer;
}

.text_1:hover{
    transform: scale(1.1);
}

.two_bar {
    display: flex;
    background-color: transparent;
    padding-right: 20px;
    cursor: pointer;
}

.cart {
    width: 214px;
    height: 65px;
    background-color: transparent;
    border: 1px solid #d6d6d6;
    margin: auto 0;
}

.pick_cart {
    display: flex;
    width: 100%;
    height: 50%;
    background-color: transparent;
    border-bottom: 1px solid #d6d6d6;
}

.pick_cart:hover {
    cursor: pointer;
    border: 1px solid rgba(107, 107, 170, 0.534)
}

.items {
    display: flex;
    background-color: #fafafa;
    width: 100%;
    height: 50%;
}

.pick_cart p {
    /* Style for "Your cart" */
width: 47px;
height: 9px;
color: #949393;
font-family: "Arial MT";
font-size: 12px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
/* Text style for "Your cart" */
font-style: normal;
letter-spacing: -0.06px;
line-height: normal;
background-color: transparent;
margin: 0 9px;
padding-top: 8.5px;
}

.carter {
    font-size: 7px;
    margin: auto 0;
    margin-left: 130px;
    
}

.carter_2 {
    color: #b3b3b3;
    background-color: transparent;
    margin: 7px 10px;
}

.text_bag {
    background-color: transparent;
    width: 72px;
    height: 10px;
    margin-top: 10px;
    margin-left: 110px;
}

.text_bag p {
    /* Style for "0 items  |" */
width: 72px;
height: 10px;
color: #949393;
font-family: "Arial MT";
font-size: 11px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: left;
text-transform: uppercase;
/* Text style for "0 items  |" */
font-style: normal;
letter-spacing: -0.06px;
line-height: normal;
background-color: transparent;
}